@model IEnumerable<Employer>

@{
    ViewData["Title"] = "List of Employers";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-2 offset-md-3">
                <img class="rounded-cirle" src="@item.LogoURL" alt="@item.Name" style="max-width: 150px" />
            </div>
            <div class="col-2">
                <p><strong>@item.Name</strong></p>
            </div>
            <div class="col-4">
                <a href="#"><p>Vacatures</p></a>
            </div>
        }
    </div>
</div>