<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Logo</th>
                <th>Bedrijfsnaam</th>
                <th>Website </th>
                <th>Adres</th>
                <th>Postcode</th>
                <th>Plaats</th>
                <th>Beschrijving</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{employer.logoURL}}</td>
                <td>{{employer.name}}</td>
                <td>{{employer.address}}</td>
                <td>{{employer.zipcode}}</td>
                <td>{{employer.residence}}</td>
                <td>{{employer.description}}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    </div>