<div class="row">
    <div class="col-md-8 offset-2 alert alert-success text-center">
        <h2>Account succesvol aangemaakt!</h2>
        <p>Je kunt nu inloggen met de juiste gegevens en je profiel updaten.</p>
    </div>
</div>